.header {
    display: flex;
    height: 60px;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 100vw;
}

.header > div {
    padding: 12px;
}

.header__logo {
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.header__logo > img {
    height: 100%;
    object-fit: contain;
}

.header__logo > span {
    color: gray;
    font-size: 20px;
    font-weight: 500;
    margin-left: 16px;
}

.header__searchContainer {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.header__searchBar {
    width: 45%;
    border-radius: 6px;
    height: 120%;
    background-color: rgb(237, 237, 237);
    align-items: center;
    display: flex;
    padding: 0 8px;
}

.MuiSvgIcon-root {
    color: rgb(82, 82, 82);
}

.header__searchBar > input {
    flex: 1;
    height: 60%;
    color: lightgray;
    font-size: 16px;
    background:  none;
    border: none;
    margin-left: 12px;
    outline: none;
}

.header__searchBar > input:focus {
    color: black;
    outline: none;
}